//animation - 마우스 휠 
@keyframes wheel {
    to {
        opacity: 0;
        top: px(30);
    }
}

@-webkit-keyframes wheel {
    to {
        opacity: 0;
        top: px(30);
    }
}

//animation - 메인 바 
@keyframes play_bar {
    0% {
        width: 0;
    }

    100% {
        width: 100%;
    }
}

@keyframes sec02_txt {
    0% {
        opacity: 0;
        transform: translateY(-30px);
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

@keyframes sec02_item {
    0% {
        opacity: 0;
        transform: translateY(-60px);
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}


@keyframes sec03_grid {
    0% {
        opacity: 0;
        right: -40px;
    }
    100% {
        opacity: 1;
        right: 0;
    }
}

@keyframes sec04_list {
    0% {
        opacity: 0;
        -webkit-transform: translateY(50px);
        transform: translateY(50px);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}